<div class="homepage">
    <div id="header">
        <table>
            <tr>
                <td>
                    <a href="#" class="icon allCategories"></a>
                </td>
                <td class="searchBar">
                    <a href="#" class="icon search"></a>
                    <input id="searchInput" type="text" placeholder="Search"/>
                </td>
                <td>
                    <a href="#" class="icon basket"></a>
                </td>
                <td>
                    <a href="#" class="icon myAccount"></a>
                </td>
            </tr>
        </table>
        <a class="bestSellers" href="#"><span class="icon"></span>Çok Satanlar</a>
        <a class="dailyDeal" href="#"><span class="icon"></span>Günün Fırsatı</a>
    </div>
    <div id="content">
        <div class="slider">Slider</div>
        <div class="flatListing bestSellers">
            <div class="catalogItem" ng-repeat="product in products">
                <span class="freeShipping">
                    Ücretsiz kargo
                </span>
                <a class="imageHolder" href="#">
                    <img src="" alt=""/>
                </a>
                <a class="title" href="#">
                    {{product.title}}
                </a>
                <span class="oldPrice">
                    {{product.price}}
                </span>
                <span class="price">
                    {{product.displayPrice}}
                </span>
            </div>
        </div>
        <div class="promotions">
            <a class="promotion" href="#">
                <img src="" alt=""/>
            </a>
            <a class="promotion" href="#">
                <img src="" alt=""/>
            </a>
        </div>
    </div>
    <div id="footer">
        <div class="footerLinks">
            <a class="homepage" href="#">Anasayfa</a>
            <a class="promotion" href="#">Promosyonlar</a>
            <a class="hotItems" href="#">Hot Items</a>
            <a class="myAccount" href="#">Hesabım</a>
        </div>
    </div>
</div>
