<div class="homepage">
    <div id="header">
        <table>
            <tr>
                <td>
                    <a href="#" class="icon allCategories"></a>
                </td>
                <td class="searchBar">
                    <a href="#" class="icon search"></a>
                    <input id="searchInput" type="text" placeholder="Search"/>
                </td>
                <td>
                    <a href="#" class="icon basket"></a>
                </td>
                <td>
                    <a href="#" class="icon myAccount"></a>
                </td>
            </tr>
        </table>
        <a class="bestSellers" href="#"><span class="icon"></span>Çok Satanlar</a>
        <a class="dailyDeal" href="#"><span class="icon"></span>Günün Fırsatı</a>
    </div>
    <div id="content">

        <div class='swipe banners'>
            <div class='swipe-wrap'>
                <a href="#" ng-repeat="item in promotionsSlider">
                    <img src="../../assets/images/temporary/banner.png" alt="" />
                    <!--<img productimage src="" data-src-map="banner" alt="" />-->
                </a>
            </div>
            <nav>
                <ul class="position">
                    <li ng-repeat="item in promotionsSlider"  ng-class="{true:'on', false:''}[$index==0]"></li>
                </ul>
            </nav>
        </div>

        <div class="flatListing bestSellers">
            <div class="header">
                <h2>ÇOK SATANLAR</h2>
                <a class="showAll" href="#">Tümünü Gör</a>
            </div>
            <div class="productContainer">
                <div class="products">
                    <div class="catalogItem" ng-repeat="item in bestSellers">
                        <a class="imageHolder" href="#">
                            <img src="../../assets/images/temporary/product_1.png" alt=""/>
                        </a>
                        <a class="title" href="#">{{item.title}}</a>
                        <span class="oldPrice">{{item.price}}</span>
                        <span class="price">{{item.displayPrice}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="promotions">
            <a class="promotion" href="#">
                <img src="../../assets/images/temporary/promotion_1.png" alt=""/>
            </a>
            <a class="promotion" href="#">
                <img src="../../assets/images/temporary/promotion_2.png" alt=""/>
            </a>
        </div>
    </div>
</div>
